@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: .9em;
}

body {
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 9vh;
    padding-top: 40px;
    padding-bottom: 5px;
    font-variant: small-caps;
}

header > p{
    font-size: 1.5em;
    padding-bottom: 30px;
}

main {
    line-height: 2em;
    font-size: 2rem;
}

section {
    background-color: white;
    padding: 5%;
    font-family: "Dekko", sans-serif;
}

p {
    display: inline-block;
    padding: 10px;
}

#imagem {
    box-shadow: inset 1px -2px 14px 0px #000000b3;
}

#imagem > p {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

.imagem1 {
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

.imagem2 {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;

    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 1.5em;
}